{% if page.comments != false %}
  <!--gitment-->
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    owner: 'shuimu98',
    repo: 'shuimu98.github.io',
    oauth: {
      client_id: 'af5065a1372570c7babc',
      client_secret: '3bd955012d21847887f0d3d4f9ea3c2cbc2b7e10',
    },
  })
  gitment.render('gitmentContainer')
  </script>

  <!--网易云跟帖-->
  {% if site.netease_username %}
    <script>
      var cloudTieConfig = {
        url: document.location.href, 
        sourceId: "http://domicat.me",
        productKey: "c473f2d95c6c4623bad5380201b61425",
        target: "cloud-tie-wrapper"
      };
    </script>
    <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
  {% endif %}

  <!--disqus-->
  {% if site.disqus_shortname %}
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus_shortname }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
{% endif %}
