<section class="post-comments">

  {% if site.comment.uyan %}
    <div id="uyan_frame"></div>

    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid="+'{{ site.comment.uyan }}'></script>

  {% elsif site.comment.disqus %}
    <div id="comments-gitment"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script type="text/javascript">
    const gitment = new Gitment({
      title: '{{ page.title }}',
      owner: 'shuimu98',
      repo: 'shuimu98.github.io',
      oauth: {
        client_id: 'af5065a1372570c7babc',
        client_secret: '3bd955012d21847887f0d3d4f9ea3c2cbc2b7e10'
      }
    })
    gitment.render('comments-gitment')
    </script>

  {% endif %}

</section>
