{% if page.comments != false %}
  {% if site.duoshuo_username %}
    <!-- 多说评论框 BEGIN -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"{{ site.duoshuo_username }}"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
  {% endif %}

  <!--网易云跟帖-->
  {% if site.netease_username %}
    <script>
      var cloudTieConfig = {
        url: document.location.href, 
        sourceId: "http://domicat.me",
        productKey: "c473f2d95c6c4623bad5380201b61425",
        target: "cloud-tie-wrapper"
      };
    </script>
    <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
  {% endif %}

  <!--disqus-->
  {% if site.disqus_shortname %}
    <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus_shortname }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
{% endif %}
