.columns {
  width: 75%;
  max-width: 850px;
  margin: 4rem auto;
}

.columns:before {
    display: table;
    content: "";
}

.columns:after {
    display: table;
    clear: both;
    content: "";
}

// post
.float-left {
  float: left;
  width: 97%;
  margin-right: 2px;
  margin-left: 2px;
}

// comment-width
.comment-width {
  width: 75%;
}

// Post Directory
.post-dir {
  margin-top: 4rem;
  float: left;
  width: 1%;
  margin-right: 7px;
  margin-left: 2px;
}


// nav sidebar
.post-directory {
    font-size: 14px;
    background: #fff;
    overflow: hidden;
    width: 300px;
    padding-bottom: 1em;
    border: 1px solid #efefef;
    color: #999;
}

.post-directory ul,
.post-directory ol {
    padding-left: 1.5em;
    list-style: none;
}

.post-directory strong {
    border-left: 5px solid #999;
    padding: 2px 5px 2px 15px;
}

.post-directory a {
    text-decoration: none;
    color: #bababa;
}

.post-directory a:hover,
.post-directory a:active,
.post-directory a.on {
    color: #4183c4;
}

// picture-title
.pic-title {
  display: block;
  margin-top: 0.3em;
  color: #808080;
  position: relative;
  font-size: 0.9em;
  text-align:center;/*文字水平居中*/
}


// footer
footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width: inherit;
  background: rgba(102, 89, 122, 0.4);;
  //padding: 1rem 0;
  margin-top: 10px;
  clear: both;
}

footer p {
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-align: center;
  margin: 0;
}

#heart {
  color: #e41515;
}

// search
a.slideButton,.dosearch{position:absolute;display:block;width:40px;height:40px;top:10px;z-index:31}
.slideButton{left:10px}
.dosearch{right:10px;background:#54456e;border-radius:.188rem;padding:.125rem .188rem}
.icon-menu{cursor:pointer;padding:.313rem;border-radius:.188rem;background:#54456e;width:2.5rem;height:2.5rem;fill:#fff}
.icon-search{width:2.188rem;height:2.188rem}
.overlay{cursor:pointer}

input[type="search"]{-ms-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
.search-wrapper{-webkit-transform:translateY(-400px);transform:translateY(-400px);z-index:9999;}
.search-wrapper.active{-webkit-transform:translateY(0);transform:translateY(0)}
.search-form{position:relative;top:0;-webkit-transform:translateX(-200px);transform:translateX(-200px);z-index:9999;width:100%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;transition:all 200ms 100ms cubic-bezier(0,.6,.4,1);}

.search-form h4{margin:.625rem 0}
.search-form .search-field{width:100%;font-family:'Open Sans',sans-serif;font-weight:300;font-style:normal;font-size:1.625rem;color:#fff;background-color:transparent;border:0;border-bottom:1px solid #fff;border-radius:0;box-shadow:none;background-clip:padding-box;-webkit-appearance:none;}
.search-form .search-field:focus{outline:0;box-shadow:none}
.search-form.active{top:0;-webkit-transform:translateX(0);transform:translateX(0);-ms-filter:none;-webkit-filter:none;filter:none;opacity:1}
.search-form.hidden{display:none}
.search-form .icon-remove-sign{position:absolute;top:0;right:0;z-index:1;display:block;fill:#fff;width:30px;height:30px;text-align:center;cursor:pointer}
.search-form::-webkit-input-placeholder{font-size:1.625rem}
.search-form .search-field::-webkit-search-decoration,
.search-form .search-field::-webkit-search-cancel-button,
.search-form .search-field::-webkit-search-results-button,
.search-form .search-field::-webkit-search-results-decoration{display:none}
.search-form .search-list{position:absolute;width:100%;font-family:'Open Sans',sans-serif;font-weight:300;font-style:normal}
.search-form h4,.search-form li,.search-form p,.search-form a,.search-form a:hover{color:#fff}

body.search-overlay{overflow:hidden;}
body.search-overlay:after{position:absolute;top:0;left:0;z-index:9001;width:100%;height:100%;min-height:100%;background-color:rgba(0,0,0,0.6);content:'';}

@media only screen and (max-width:37.5rem){body.search-overlay:after{background-color:#5d4d7a}}
.search-wrapper{position:absolute;top:50px;width:100%;padding-right:10%;padding-left:10%;}
.search-list{padding:0;margin:0;list-style-type:none;}
.search-list .entry-date{float:right;display:none;font-size:14px;text-transform:uppercase}
.search-list a{text-decoration:none;display:block;padding:.938rem 0;width:100%;border-bottom:1px solid #fff;}
.search-list a:hover{color:#b3b3b3;border-bottom:1px solid #b3b3b3}
@media only screen and (min-width:48em){.search-wrapper{top:100px}.search-list .entry-date{display:inline}}