/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
	background: #000;
	color: #FFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
	STRUCTURE
*/
body {
	background: url(/res/404/background.png) repeat;
	margin: 0 auto;
	text-align: center;
}
#oops {
	background: url(/res/404/oops.png) no-repeat;
	width: 590px;
	height: 274px;
	margin: 250px auto;
}

#asiance a {
	background: url(/res/404/goback.png) no-repeat;
	width: 507px;
	height: 97px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: block;
	text-decoration: none;
}
#asiance a:hover {
	background: url(/res/404/goback.png) no-repeat left -97px;
}